$theme-colors: (
    'darkBlue' : #314455,
    'darkRoseColor' : #9F5A63,
    'brightRoseColor' : #c96567,
    'burgandyColor' : #644e5B,
    'greyColor' : #675682
    
   
    
);


body {
    background: linear-gradient(135deg,#c96567 50%, #9f5a63 40%, #644e5b 100%);
    font-family: ('Titillium Web', sans-serif) !important;
}

.circle:hover {
    background: (#182129) !important;
    height: 225px !important ;
    width: 225px !important;
    transition: 0.25s;
}


@media(min-width:335px) {
    body {
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
    }
    #mainlogo {
        font-size: 60px !important;

    }

    #reviewHeader {
        font-size: 60px !important;
        padding-left: 0;
    }
 
}

@media(min-width:1024px) {
    body {
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
    }
    #mainlogo {
        font-size: 100px !important;

    }

    #reviewHeader {
        font-size: 75px;
    }
}

.oval:hover:hover {
    background: (#182129) !important;
    height: 400px !important ;
    width: 400px !important;
}


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
